<!DOCTYPE html>
<html>
<%- include("./partials/head.ejs") %>
<body>
   <%- include("./partials/nav.ejs") %>
   <div class="auth-group">
      <form method="post">
         <div class="input-group">
            <input id="username" name="username" placeholder="Username" required>
            <br>
            <input id="password" name="password" type="password" placeholder="Password" required>
         </div>
         <div class="login-buttons">
            <button class="login" formaction="/login">Login</button>
            <button class="signup" formaction="/signup">Signup</button>
         </div>   
         <p class="error-text" hidden>Hata</p>
      </form>
   </div>
   <%- include("./partials/footer.ejs") %>
   <script>
      const urlParams = new URLSearchParams(window.location.search);
      const error = urlParams.get('error');
      const errorText = document.querySelector('.error-text');
      if (error) {
         errorText.removeAttribute("hidden")
      }
   </script>
</body>
</html>